* {
    margin: 0;
    padding: 0;
}

#encabezado {
    background-color: yellow;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px; 
}

#primera lista {
    margin: 10px;
    padding: 50px;
}

#visita {
    font-size: 24px;
}

#ofertas {
    font-size: 24px;
}

#precio {
    font-size: 18px;
}

#descuentos {
    font-size: 16px;
}

#descripcion {
    font-size: 16px;
}

#foot {
    text-align: center;
}

.burger menu {
    align-items: center;
}

#tarjeta {
    text-align: center;
    margin-bottom: 10px;
}

#pago{
    text-align: center;
    margin-bottom: 10px;
}

#seguridad{
    text-align: center;
    margin-bottom: 10px;
}