<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../Views/estilos.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6296de83cb.js" crossorigin="anonymous"></script>
    <title>Practica integradora n1</title>
</head>
<body>
    <header id="encabezado">
        <img src="../Public/images/logo-mercado-liebre.svg" alt="Imagen del logo" width="400" height="340">
        <form method="get" action="#">
            <input type="search" name="q" placeholder="Buscar productos, marcas y mas">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
        
        <p><strong>Compra en cuotas y sin tarjeta de credito</strong>
            <i class="fa-solid fa-hand-holding-dollar"></i>
        </p>
        <nav>
            <ul>
                <li>Ofertas</li>
                <li>Tiendas oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
                <p>
                    <li>Crea tu cuenta<i class="fa-solid fa-folder-user"></i></li>
                    <li>Ingresa<i class="fa-solid fa-right-to-bracket"></i></li>
                    <li>Mis compras<i class="fa-solid fa-basket-shopping"></i></li>
                </p>
            </ul>
        <div class="burger menu">
            <i class="fas fa-bars"></i>
        </div>    
        </nav>    
    </header>        
            <section>
                <header>
                    <h1 id="visita"><strong>Basado en tu ultima visita</strong></h1></header>
                <img src="../Public/images/img-cafetera-moulinex.jpg" alt="Imagen de la cafetera" width="300" height="260">
                <p id="precio">$6770</p>
                <p id="descuentos">40% OFF</p>
                <p id="descripcion"><strong>Cafetera Moulinex</strong></p>
                <div></div>
                <img src="../Public/images/img-macbook-pro-2019.jpg" alt="Imagen de la Macbook" width="300" height="260">
                <p id="precio">$230000</p>
                <p id="descuentos">20% OFF</p>
                <p id="descripcion"></p><strong>Macbook Pro 2019</strong></p>
                <div></div>
                <img src="../Public/images/img-samsung-galaxy-s10.jpg" alt="Imagen del Samsung Galaxy S10" width="300" height="260">
                <p id="precio">$70500</p>
                <p id="descuentos">10% OFF</p>
                <p id="descripcion"><strong>Samsung Galaxy S10</strong></p>
                <div></div>
                <img src="../Public/images/img-tv-samsung-smart.jpg" alt="Imagen de TV Samsung" width="300" height="260">
                <p id="precio">$23200</p>
                <p id="descuentos">5% OFF</p>
                <p id="descripcion"><strong>Smart tv Samsung 43"</strong></p>
            </section>
            <section>
                <header>
                    <h1 id="ofertas"><strong>Ofertas</strong></h1></header>
                <img src="../Public/images/img-cafetera-moulinex.jpg" alt="Imagen de la cafetera" width="300" height="260">
                <p id="precio">$6770</p>
                <p id="descuentos">40% OFF</p>
                <p id="descripcion"><strong>Cafetera Moulinex</strong></p>
                <div></div>
                <img src="../Public/images/img-macbook-pro-2019.jpg" alt="Imagen de la Macbook" width="300" height="260">
                <p id="precio">$230000</p>
                <p id="descuentos">20% OFF</p>
                <p id="descripcion"><strong>Macbook Pro 2019</strong></p>
                <div></div>
                <img src="../Public/images/img-samsung-galaxy-s10.jpg" alt="Imagen del Samsung Galaxy S10" width="300" height="260">
                <p id="precio">$70500</p>
                <p id="descuentos">10% OFF</p>
                <p id="descripcion"><strong>Samsung Galaxy S10</strong></p>
                <div></div>
                <img src="../Public/images/img-tv-samsung-smart.jpg" alt="Imagen de TV Samsung" width="300" height="260">
                <p id="precio">$23200</p>
                <p id="descuentos">5% OFF</p>
                <p id="descripcion"><strong>Smart tv Samsung 43"</strong></p>
            </section>
    <footer>
        <nav id="foot">
            <ul> <type none> </type>
                <li><i class="fa-solid fa-credit-card"></i><i id="tarjeta"></i>
                    <div><strong><type none>Paga con tarjeta o en efectivo</type></strong></li></div>                    
                <p>Con Mercado Liebre Cash, tenes cuotas sin interes con tarjeta o efectivo en puntos de pago. Y siempre es seguro!</p>
                <li><i class="fa-solid fa-gift"></i><i id="pago"></i>
                    <div><strong><type none>Envio gratis desde $2500</type></strong></li></div>
                <p>Solo por estar registrad@ en Mercado Liebre tenes envios gratis en miles de productos. Es un beneficio de Mercado Puntos</p>
                <li><i class="fa-solid fa-user-shield"></i><i id="seguridad"></i>
                    <div><strong><type none>Seguridad, de principio a fin</type></strong></li></div>
                <p>No te gusta? Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estas siempre protegid@.</p>
                <div></div>
                <li><strong>Copyright c 1999-2020 Mercado Liebre S.R.</strong></li>
            </ul>
        </nav>
    </footer>
    
</body>
</html>